<div class="form-registration">
  <h1 class="h3 my-5 font-weight-normal text-center">Create new password</h1>
  <div class="form-style">
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <input type="email" id="email" formControlName="email" placeholder="email" class="form-control first-component" />
      <div *ngIf="newPasswordForm.get('email').touched">
        <span *ngIf="newPasswordForm.get('email').hasError('required')" class="text-danger">
          Email is required!
        </span>
        <span *ngIf="newPasswordForm.get('email').hasError('email')" class="text-danger">
          Email format should be joe@abc.com.
        </span>
      </div>

      <input type="text" id="verificationCode" formControlName="verificationCode" placeholder="Verification Code"
        class="form-control middle-component" />
      <div *ngIf="newPasswordForm.get('verificationCode').touched">
        <span *ngIf="newPasswordForm.get('verificationCode').hasError('required')" class="text-danger">
          Verification Code is required!
        </span>
      </div>

      <input type="password" id="password" formControlName="password" placeholder="Password"
        class="form-control middle-component" />
      <div *ngIf="newPasswordForm.get('password').touched">
        <span *ngIf="newPasswordForm.get('password').hasError('required')" class="text-danger">
          Password is required!
        </span>
        <span *ngIf="newPasswordForm.get('password').hasError('minlength')" class="text-danger">
          Password must be at least 8 characters long.
        </span>
      </div>

      <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Retype Password"
        class="form-control last-component" />
      <div *ngIf="newPasswordForm.get('confirmPassword').touched">
        <span *ngIf="newPasswordForm.get('confirmPassword').hasError('required')" class="text-danger">
          Confirm Password is required!
        </span>
        <span *ngIf="newPasswordForm.hasError('mismatchedPasswords')" class="text-danger">
          Passwords do not match.
        </span>
      </div>

      <div>
        <button type="submit" [disabled]="!newPasswordForm.valid" class="btn btn-lg btn-primary btn-block">
          Create new password
        </button>
      </div>
    </form>
  </div>
</div>
